<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
</head>
<body>
<table class="table">
			<thead>
				<tr>
					<th>Empleado</th>
					<th>Salario</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text = "${empleado.nombre}"></td>
					<td th:text = "${nomina.sueldo}"></td>
				</tr>
			</tbody>
		</table>
		<br>
		<button type="button" class="btn btn-primary" onclick="history.back()">Volver</button>		
</body>
</html>